.env
/.venv
/data/reesrt_license
/catalog
/.tmp_dagster_home_e5gdqng_
dagster_project/dagster_project.egg-info/
*.__pycache__
*.pyc
logs/
.tmp_dagster_home_*
reports/
datalake.duckdb*
data/1-НД/.DS_Store
data/.DS_Store
coverage_tidy_202604151412.csv
coverage_wide_202604151405.csv
.DS_Store
.DS_Store
